@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
li{
    font-size: 20px;
}
 
p{
    font-size: 22px;
}
#option{
    font-size: 25px;
    font-weight: bold;
}