@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  width: 1000vw;
}
li{
    font-size: 20px;
}
 
p{
    font-size: 22px;
}
#option{
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 1400px){
#aboutP{
    font-size: 15px;
}
iframe{
    width: 480px;
    height:360px
}
}
@media(max-width:600px){
    html{
        width: 600px;
    }   
     #imgA{
       
        width: 50vw;
        height: 25vh;
    }
    #imgB{
        
        width: 50vw;
        height: 25vh;
    }
    #imgC{
        width: 50vw;
        height: 25vh;
    }
    #imgDiv{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
iframe{
    width:500px;
    margin-left:50px;
    margin-top: 25px;
    height: 250px;
}
#about{
    flex-direction: column;
}
#listDiv{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}