@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
li{
    font-size: 20px;
}
 
p{
    font-size: 22px;
}
#option{
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 1400px){
#aboutP{
    font-size: 15px;
}
}
@media(max-width:600px){
    html{
        width: 100%;
    }   
    nav{
        font-size: 12px;
    }    
   
    #serviceAbout{
        width:auto;
    }
     #imgA{
       
        width: 100vw;
        height: 25vh;
    }
    #imgB{
        
        width: 100vw;
        height: 25vh;
    }
    #imgC{
        width: 100vw;
        height: 25vh;
    }

    #imgDiv{
     display: flex;
     flex-direction: column;
    }

#about{
    flex-direction: column;
}

#listDiv{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  #contactBtn{
    
     
   text-align: center;
  }
}